<ion-header no-border>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <!-- <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button> -->
      <ion-menu-button></ion-menu-button>

    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <img slot="start" src="/assets/iconos/notificacion.png">
      </ion-button>
    </ion-buttons>
    <ion-title class="md title-android">
      Upper
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="goToMyLocation()" color="light">
      <img style="width: 40%" src="/assets/iconos/location.png">
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item margin-bottom>
      <ion-input type="text" placeholder="Escribe tu dirección" [(ngModel)]="locat"></ion-input>
      <ion-button (click)="onClick()" center>
        Buscar
      </ion-button>
    </ion-item>
  </ion-list>

  <div id="map_canvas"></div>
</ion-content>

<ion-footer>
  <ion-toolbar style="background: transparent;">
    <ion-button color="primary" (click)="abrirModal()" expand="block">
      Solicitar Servicio
    </ion-button>
  </ion-toolbar>

</ion-footer>