<ion-content>
  <ion-grid>
      <ion-row style="margin-top: 13%">
        <ion-col style="text-align: -webkit-center;" align-self-center>
                <img style="width: 80%" src="/assets/icons_alerts/icon_alert_auto.png">              
          </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row style="margin-top: 7px">
        <ion-col style="text-align: center" align-self-center>
            <ion-label style="font-size: 138%; font-weight: 600; color: #4A4A4A">¡Que tal!</ion-label>
            <p style="color: #6B6B6B;font-weight: 500">No cuentas con un auto para asignar suscripción.</p>
          </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar style="background: transparent;">
      <ion-button color="primary" (click)="abrirAgregarAuto()" expand="block">
        Agregar Auto
      </ion-button>
    </ion-toolbar>
</ion-footer>