.mainSlide,
.mainSlide ion-slide {
  width: 100%;
  height: 100%;
}

.img-tipo {
  width: 120px;
}

.pick-item {
  width: 80px;
  opacity: 0.3;
}

.pick-selected-item {
  transition: opacity 0.5s linear;
  opacity: 1 !important;
}

.img-color {
  width: 40px;
}
