<ion-header no-border>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button text=""  defaultHref="/menu/home"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <img slot="start" src = "/assets/iconos/notificacion.png">
        </ion-button>
      </ion-buttons>
      <ion-title class="md title-android">
        Historial
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content color="secondary">
    <p style="color:#3277D8; margin: 16px;">Toca para más información</p>
    <ion-grid fixed style="margin-top: -26px;">
      <ion-row>
        <ion-col>
          <ion-card (click)="pushDetalleLavado(orders.id)" *ngFor="let orders of order" color="light">
            <ion-card-header>
              <ion-card-subtitle style="color: #3c80f7">{{ orders.created_at }}</ion-card-subtitle>
              <ion-card-title>Mazda 3</ion-card-title>
            </ion-card-header>
            <ion-item lines="none" style="margin-left: 2%">
                <img slot="start" src="/assets/iconos/icon_lavado.png" style="max-width: 8%; margin-right: 10px;">
                <ion-card-title slot="start" style="color: #FE7B37; font-size: 18px;">{{ orders.suscription.plans.name }}</ion-card-title>
            </ion-item>
            <div  style="background-color: #97979759;height: 1px;margin-right: 8px;margin-left: 4%;margin-top: 2%;"></div>
            <ion-card-content style="padding: 7px;">
              <ion-item lines="none">
                <img *ngIf="orders.status == 1" slot="start" src="/assets/estado_orden/img_pedido.png" style="max-width: 8%;">
                <img *ngIf="orders.status == 2" slot="start" src="/assets/estado_orden/img_realizado.png" style="max-width: 8%;">
                <img *ngIf="orders.status == 3" slot="start" src="/assets/estado_orden/img_cancelado.png" style="max-width: 8%;">
                <ion-label *ngIf="orders.status == 1" slot="start">Pedido</ion-label>
                <ion-label *ngIf="orders.status == 2" slot="start">Realizado</ion-label>
                <ion-label *ngIf="orders.status == 3" slot="start">Cancelado</ion-label>
                <img slot="end" src="/assets/iconos/flecha_siguiente.png" style="max-width: 8%;">
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
    
      </ion-row>
    </ion-grid>

  
</ion-content>
