ion-content.background{
    --background: url('/assets/images/fondo-upper.png') 0 0/100% 100% no-repeat;
}

ion-slides {
    height: 100%;
    width: 100%;
    // --bullet-background: red;
    // --bullet-background-active: rebeccapurple;
}

// ion-toolbar {
//     --background: url('/assets/images/background_confi_plans.png') 0 0/100% 100% no-repeat;
// }

