.my-custom-modal-css .modal-wrapper {
    height: 80%;
    top: 40%;
    position: absolute; 
    display: block;  
 }

  ion-content.background{
    --background: url('/assets/images/background_confi_plans.png') 0 0/100% 100% no-repeat;
}
