ion-content {
    --background: url('/assets/images/bg.jpg') no-repeat center center fixed cover;
    --background-size: cover;
  }
  modal-wrapper {
    position: absolute;
    width: 83%;
    height: 72%;
  }