<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""  defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <img slot="start" src = "/assets/iconos/notificacion.png">
      </ion-button>
    </ion-buttons>
    <ion-title class="md title-android">
      Contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar color="secondary">
        <ion-grid style="margin-top: 15px">
            <ion-row>
              <ion-col style="text-align: -webkit-center;" align-self-center>
                      <img style="width: 26%" src="../assets/logo.png">
                </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
              <ion-row>
                <ion-col style="text-align: center" align-self-center>
                    <ion-label style="font-weight: 600; font-size: 20px;">Upper</ion-label>
                    <p style="font-size: 16px; margin: 5px 0px;">V1.2.0</p>
                  </ion-col>
              </ion-row>
            </ion-grid>
      </ion-toolbar>
</ion-content>
