<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/menu/subscripcion"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <img slot="start" src="/assets/iconos/notificacion.png">
      </ion-button>
    </ion-buttons>
    <ion-title>
      Detalle Suscripciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Detalle del plan -->
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h2 style="text-align: center; font-weight: 700;">{{ plan.name }}</h2>
      </ion-col>
      <ion-col size="12" style="margin: 2px">
        <h4 style="text-align: center;font-weight: 800; color: #FE7B37;">${{ plan.price }}</h4>
        <p style="text-align: center;color: #999999; font-size: 11px; margin-top: 1%;">Precio incluye iva y lavadas
          disponibles a este plán</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Detalle los tipos de lavado -->
  <ion-grid fixed>
    <ion-card *ngFor="let item of carDetailSus">
      <ion-card-header>
        <ion-card-title>
          <ion-img src="/assets/iconos/icon_lavado.png" style="max-width: 8%; margin-right: 10px;"></ion-img>
          {{ item['wash_type']['type'] }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ item['wash_type']['description'] }} <br>
        <b><label>Cantidad disponible: {{item.quantity}} </label></b>
      </ion-card-content>
    </ion-card>

  </ion-grid>

</ion-content>