<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <img slot="start" src="/assets/iconos/notificacion.png">
      </ion-button>
    </ion-buttons>
    <ion-title class="md title-android">
      Mis Autos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-toolbar color="secondary" style="padding: 10px;">
    <ion-grid>
      <ion-row>
        <ion-col size="5" size-lg="5" size-md="5" size-sm="5" size-xs="5">

          <ion-avatar style="width: 90px !important; height: 90px !important;">
            <img src="{{ URL + user.avatar }}">
          </ion-avatar>
        </ion-col>
        <ion-col style="margin-top: 16px; margin-bottom: 16px; align-items: center;justify-content: center" size="7"
          size-lg="7" size-md="7" size-sm="7" size-xs="7">
          <ion-button (click)="pushAgregarAuto()" expand="block" color="primary">Agregar Auto</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-slides class="swiper-no-swiping" #slideAutos mode="ios" *ngIf="cars.length <= 0">
    <ion-slide>
      <ion-label>No hay carros registrados</ion-label>
    </ion-slide>
  </ion-slides>


  <ion-card color="light" style="margin-top: 10px;" *ngFor="let car of cars">
    <ion-card-header style="padding-bottom: 0px;">
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-lg="6" size-md="6" size-sm="6" size-xs="6">
            <ion-card-title>{{car.brand.name}}</ion-card-title>
            <ion-card-subtitle style="color: #3c80f7; padding-top: 3px">{{car.car_type.name}}</ion-card-subtitle>
          </ion-col>
          <!-- <ion-col size="6" size-lg="6" size-md="6" size-sm="6" size-xs="6">

         </ion-col> -->
          <div style="font-size: 25px !important;position: absolute;right: -2px;top: 8px;">
            <ion-button fill="clear" (click)="lanzarMenu($event)" id="{{car.id}}">
              <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
          </div>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content style="padding: 0px;">
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-lg="12" size-md="12" size-sm="12" size-xs="12">
            <img class="img-autos" src="{{ URL + car.picture }}">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" size-lg="6" size-md="6" size-sm="6" size-xs="6">
            <ion-item lines="none">
              <img class="" style="width: 40%" src="/assets/iconos/icon_placa.png">
              <ion-label style="font-size: 75%;font-weight: 600">{{ car.board }}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6" size-lg="6" size-md="6" size-sm="6" size-xs="6">
            <ion-item lines="none">
              <img class="" style="width: 40%" src="/assets/iconos/icon_cilindraje.png">
              <ion-label style="font-size: 75%;font-weight: 600">{{ car.cilindrajes.name }}</ion-label>
            </ion-item>
          </ion-col>
          <!-- <ion-col size="4" size-lg="4" size-md="4" size-sm="4" size-xs="4">
            <img class="" style="width: 40%; margin-left: 33%;" src="{{ URL + car.color.picture}}">
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


</ion-content>