<ion-header no-border>
    <ion-toolbar  color="primary">
      <ion-buttons slot="start">
        <ion-back-button text=""  defaultHref="/menu/home"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <img slot="start" src = "/assets/iconos/notificacion.png">
        </ion-button>
      </ion-buttons>
      <ion-title class="md title-android">
        Mis Autos
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content color="secondary">
    <ion-toolbar color="secondary" style="padding: 10px;">
      <ion-grid>
        <ion-row>
          <ion-col size="5" size-lg="5" size-md="5" size-sm="5" size-xs="5">
              <ion-avatar  style="width: 90px !important; height: 90px !important;">
                  <img src="../assets/images/avatar_perfil.png">
               </ion-avatar> 
          </ion-col>
          <ion-col style="margin-top: 16px; margin-bottom: 16px; align-items: center;justify-content: center" size="7" size-lg="7" size-md="7" size-sm="7" size-xs="7">
              <ion-button (click)="pushAgregarAuto()" expand="block" color="primary">Agregar Auto</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
    <ion-card style="margin-top: 10px;">
        <ion-card-header style="padding: 10px;">
          <ion-grid>
            <ion-row>
                <ion-col size="5" size-lg="5" size-md="5" size-sm="5" size-xs="5">
                    <img class="img-autos" src="/assets/images/autos/4.jpg">
                </ion-col>
                <ion-col size="7" size-lg="7" size-md="7" size-sm="7" size-xs="7">
                    <ion-card-title style="font-size: 21px;">Mercedez Benz</ion-card-title>
                    <ion-card-subtitle>Clase B</ion-card-subtitle>
                    <ion-card-title style="font-size: 13px;padding: 5px 0px;">2000 cc</ion-card-title>
                    <ion-badge style="background-color:#FFAC3B; color: #000000;padding: 4px 0px;width: 37%;margin-left: -3px;">QER 359</ion-badge>
                </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
      </ion-card>
      <ion-card style="margin-top: 10px;">
          <ion-card-header style="padding: 10px;">
            <ion-grid>
              <ion-row>
                  <ion-col size="5" size-lg="5" size-md="5" size-sm="5" size-xs="5">
                      <img class="img-autos" src="/assets/images/autos/3.jpg">
                  </ion-col>
                  <ion-col size="7" size-lg="7" size-md="7" size-sm="7" size-xs="7">
                      <ion-card-title style="font-size: 21px;">Renault</ion-card-title>
                      <ion-card-subtitle>Laguna</ion-card-subtitle>
                      <ion-card-title style="font-size: 13px;padding: 5px 0px;">2000 cc</ion-card-title>
                    <ion-badge style="background-color:#FFAC3B; color: #000000;padding: 4px 0px;width: 37%;margin-left: -3px;">QER 359</ion-badge>
                  </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-header>
        </ion-card>
</ion-content>
