<ion-content>
    <ion-grid>
        <ion-row style="margin-top: 10%">
          <ion-col style="text-align: -webkit-center;" align-self-center>
                  <img style="width: 50%" src="/assets/images/login/mercedes.png">              
            </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row style="margin-top: -10px">
          <ion-col style="text-align: center" align-self-center>
              <ion-label style="font-size: 138%; font-weight: 600;">¡Que tal!</ion-label>
              <p style="margin-top: 7px;">Aún no has agregado un auto.</p>
            </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar style="background: transparent;">
        <ion-button color="primary" (click)="abrirAgregarAuto()" expand="block">
          Agregar Auto
        </ion-button>
      </ion-toolbar>
</ion-footer>