// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.test-modal {
    .modal-wrapper {
        width: 83%;
        left: calc(50% - (600px/2));
        height: 80%;
        border-radius: 15px;
        top: calc(50% - (500px/2));
    }
  }

  .modal-alert-css {
    .modal-wrapper {
        width: 83%;
        left: calc(50% - (600px/2));
        height: 35%;
        border-radius: 15px;
        top: calc(50% - (500px/2));
    }
  }