<ion-menu menuId="menuMain" side="start" contentId="main">

  <ion-header>
    <ion-menu-toggle auto-hide="false">
      <ion-toolbar auto-hide="false" (click)="pushPerfil()" color="primary">
        <ion-row style="padding: 50px 0px 37px 17px;">
          <ion-col size="4">
            <ion-avatar style="width: 90px !important; height: 90px !important;">
              <!-- <img src="../assets/images/avatar_perfil.png"> -->
              <img *ngIf="usuario.social_acounts === null" src="{{ URL + usuario.avatar}}">
              <img *ngIf="usuario.social_acounts " src="{{ usuario.avatar}}">
            </ion-avatar>
          </ion-col>
          <ion-col size="8" style="padding: 22px 0px 0px 18px;">
            <ion-label style="font-weight: bold; font-size: 17px;">{{ usuario.name}} {{ usuario.last_name}}</ion-label>
            <p style="font-size: 13px; margin: 5px 0px;">{{usuario.email}}</p>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-menu-toggle>
  </ion-header>

  <ion-content>
      <ion-list style="padding: 30px 10px 10px 10px;">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of componentMenu | async">
          <ion-item style="padding: 0px 0px 15px;" lines="none" [routerDirection]="'root'" [routerLink]="p.url">
            <img slot="start" [src]="'/assets/iconos/'+p.icon+'.png'">
            <ion-label style="font-weight: 500">
              {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

</ion-menu>